* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
}
ul {
    list-style-type: none;
}
input[type="text"], textarea {
    background: transparent;
    outline: none;
    border: solid 1px rgba(96,110,120, 0.2);
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
}
input[type="radio"] {
    margin-right: 5px;
    margin-left: 15px;
}
input:nth-child(1)[type="radio"] {
    margin-left: 0;
}
.wrapper {
    min-height: 100vh;
    background-color: aliceblue;
}
.container, .section-container {
    max-width: 960px;
    margin: auto;
}
header, main {
    padding: 0 15px;
}
main .container, .section-container{
    padding: 30px 0;
    color: #353d43;
    font-size: 18px;
}
header {
    background-image: linear-gradient(90deg,#011f4b ,#03396c,#005b96, #6497b1);
    box-shadow: 0 3px 5px #8fa4b3;
}
header .container {
    display: flex;
    flex-direction: row;
}
nav {
    flex-basis: 70%;
}
.logo-block {
    flex-basis: 30%;
    text-align: right;
}
nav, .logo-block {
    padding: 15px 0;
    color: #b3cde0;
}
.logo-block img {
    vertical-align: bottom;
}
.logo-block span {
    font-size: 22px;
    text-shadow: 2px 2px 3px #000;
}
nav ul li {
    display: inline-block;
    font-size: 20px;
    margin-right: 30px;
}
.icon-home, .icon-settings1 {
    font-size: 16px;
    color: #596670;
}
main .container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

}
_:-ms-fullscreen, :root main .container {
    display: block;
}

.add-handler {
    flex-basis: 50%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.filters-block {
    flex-basis: 50%;
    text-align: right;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.filters-block__icons {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}
.icon-sort-asc, .icon-sort-desc {
    position: absolute;
    left: 0;
    font-size: 16px;
}
.icon-sort-asc {
    top: 0;
}
.icon-sort-desc {
    bottom:-7px;
}
_:-ms-fullscreen, :root .add-handler, .filters-block {
    width: 50%;
    display: inline-block;
}
.add-menu {
    flex-basis: 100%;
    height: 0;
    display: none;
}
.add-menu.active {
    transition-property: height;
    transition-duration: 0.5s;
    height: auto;
    display: block;
}
_:-ms-fullscreen, :root .add-menu {
    display: block;
    width: 100%;
}
.add-handler__angle {
    width: 12px;
    height: 12px;
    position: relative;
    display: inline-block;
    margin-left: 30px;
}
.add-handler__angle>i {
    width: 12px;
    height: 2px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left:0;
}
.add-handler__angle>i::before,.add-handler__angle>i::after {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: #606e78;
    transition-property: transform;
    transition-duration: 0.2s;
}
.add-handler__angle>i::before {
    transform: rotate(0deg);
}
.add-handler__angle>i::after
{
    transform: rotate(90deg);
}
.add-handler__angle.active>i::after {
    transform: rotate(180deg);
}
.filters-block>div {
    display: inline-block;
    margin-left: 25px;
}
.add-handler, .filters-block {
    padding: 15px 15px;
    background-color: rgba(161,184,201, 0.3);
    text-shadow: 1px 1px 3px rgba(53,61,67, 0.5);
}
.add-menu__content {
    padding: 20px 0 0 15px;
    width: 50%;
    opacity:0;
    transition-property: opacity;
}
.add-menu.active .add-menu__content {
    transition-property: opacity;
    opacity: 1;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
}
.add-menu__content label {
    display: block;
    width: 100%;
    padding: 10px 0 15px;
}
.add-menu__content input[type="text"] {
    width: 60%;
    float: right;
}
.task-priority>span {
    width: 60%;
    float: right;
}
.add-menu__content p:last-child {
    text-align: right;
}
input[type="button"] {
    width: 60%;
    padding: 10px 15px;
    border: none;
    outline: none;
    text-align: center;
    background-image: linear-gradient(90deg,#011f4b ,#03396c,#005b96, #6497b1);
    color: #b3cde0;
    border-radius: 20px;
}
main ul li {
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 4px;
    border: solid 1px #eff0f1;
}
.list-title {
    font-size: 22px;
    font-weight: 500;
    font-style: italic;
    text-shadow: 1px 1px 3px rgba(53,61,67, 0.5);
    padding: 0 15px 5px;
}
.border {
    height: 2px;
    background-color: #dde3e8;
    margin: 25px 0 30px;
    box-shadow: 0 2px 3px #dde3e8;
}
.item-inner {
    display: flex;
    flex-direction: row;
}
.item-inner__check {
    flex-basis: 5%;
    position: relative;
}
.item-inner__text {
    flex-basis: 80%;
}
.item-inner__doings {
    flex-basis: 15%;
    text-align: right;
}
.item-inner__check input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.item-inner__text input, .item-inner__text textarea  {
    width: 100%;
    border: none;
}
.item-inner__text>div:first-child input {
    font-weight: 600;
}
ul.complete-list .item-inner__text>div:first-child input {
    text-decoration: line-through;
}
.icon-document-edit, .icon-document-checked {
    font-weight: bold;
    margin-bottom: 3px;

}
.icon-document-checked {
    display: none;
}
nav ul li div, .add-handler__angle, .icon-sort-asc, .icon-sort-desc, #addBtn, .icon-document-edit, .icon-document-checked, .icon-trash {
    cursor: pointer;
}
.icon-clock {
    color: #03396c;
}
.icon-document-edit:hover, .icon-trash:hover {
    transition-duration: 0.2s;
    color: #de5347;
}
.icon-document-checked:hover {
    transition-duration: 0.2s;
    color: 	#27a768;
}
nav ul li:hover {
    transition-duration: 0.2s;
    text-shadow: 0 0 3px #518ff5;
}
nav ul li:hover .icon-home, nav ul li:hover .icon-settings1 {
    text-shadow: none;
}
input[type="button"]:active {
    box-shadow: inset 0 0 4px #c9dce9;
}